<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ファイツリスト画面</title>
</head>
<body>
<h1>Welcome: <span th:if="${session.user != null}" th:text="${session.user.username}"></span></h1>

<h3>ファイルリスト</h3>
<table border="1px">
    <tr>
        <th>ID</th>
        <th>ファイル元名前</th>
        <th>ファイル名前</th>
        <th>拡張子</th>
        <th>保存ルート</th>
        <th>ファイルサイズ</th>
        <th>タイプ</th>
        <th>ファイル又は画像</th>
        <th>ダウンロード回数</th>
        <th>アップロード日付</th>
        <th>編集</th>
    </tr>
    <tr th:each="file, fileStat:${userfiles}">
        <td><span th:text="${file.id}"></span></td>
        <td><span th:text="${file.oldFileName}"></span></td>
        <td><span th:text="${file.newFileName}"></span></td>
        <td><span th:text="${file.ext}"></span></td>
        <td><span th:text="${file.path}"></span></td>
        <td><span th:text="${file.size}"></span></td>
        <td><span th:text="${file.type}"></span></td>
        <td>
            <img th:if="${file.isImg} == 'はい'" style="height: 40px;width: 100px;" th:src="${#servletContext.contextPath}+ ${file.path} +'/'+ ${file.newFileName}" alt="">
            <span th:if="${file.isImg} != 'はい'" th:text="${file.isImg}"></span>
        </td>
        <td><span th:text="${file.downCount}"></span></td>
        <td><span th:text="${#dates.format(file.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
        <td>
            <a th:href="@{/file/download(id=${file.id}, openType='attachmnet')}">ダウンロード</a>
            <a th:href="@{/file/download(id=${file.id}, openType='inline')}">オンラインで開く</a>
            <a th:href="@{/file/delete(id=${file.id})}">削除</a>
        </td>
    </tr>
</table>
<hr>
<h3>ファイルをアップロード</h3>
<form th:action="@{/file/upload}" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadFile">
    <input type="submit" value="アップロード">
</form>
</body>
</html>