<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ファイツリスト画面</title>
</head>
<body>
<h1>Welcome: xxxx</h1>

<h3>ファイルリスト</h3>
<table border="1px">
    <tr>
        <th>ID</th>
        <th>ファイル元名前</th>
        <th>ファイル名前</th>
        <th>拡張子</th>
        <th>保存ルート</th>
        <th>ファイルサイズ</th>
        <th>タイプ</th>
        <th>ファイル又は画像</th>
        <th>ダウンロード回数</th>
        <th>アップロード日付</th>
        <th>編集</th>
    </tr>
    <tr>
        <td>1</td>
        <td>test.txt</td>
        <td>upload111.txt</td>
        <td>txt</td>
        <td>/usr/local/file</td>
        <td>11kb</td>
        <td>ファイル</td>
        <td>ファイル</td>
        <td>100</td>
        <td>2020-07-24</td>
        <td>
            <a href="">ダウンロード</a>
            <a href="">オンラインで開く</a>
            <a href="">削除</a>
        </td>
    </tr>
</table>
<hr>
<h3>ファイルをアップロード</h3>
<form action="">
    <input type="file" name="uploadFile">
    <input type="submit" value="アップロード">
</form>
</body>
</html>